In [117]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [118]:
Total_schools = school_data['school_name'].count()
Total_budget = school_data["budget"].sum()
Total_students = school_data["size"].sum()
Average_math_score = round(school_data_complete["math_score"].mean(),6)
Average_reading_score = round(school_data_complete["reading_score"].mean(),6)

math_pass_df = school_data_complete.loc[school_data_complete["math_score"] >= 70]
math_pass = math_pass_df['math_score'].count()
math_pass_pct = round((math_pass * 100)/Total_students, 6)

reading_pass_df = school_data_complete.loc[school_data_complete["reading_score"] >= 70]
reading_pass = reading_pass_df['reading_score'].count()
reading_pass_pct = round((reading_pass * 100)/Total_students, 6)

avg_math_score = school_data_complete["math_score"].mean()
avg_reading_score = school_data_complete["reading_score"].mean()
overall_pass = round((avg_math_score + avg_reading_score) / 2, 6)

# school_data_complete['overall_score'] = (school_data_complete['reading_score'] + school_data_complete['math_score'])/2
# overall_pass_df = school_data_complete.loc[school_data_complete["overall_score"] >= 70]
# overall_pass = overall_pass_df['overall_score'].count()
# (overall_pass*100)/Total_students

In [116]:

data = {'Total Schools': Total_schools, 'Total Students': Total_students, 'Total Budget': Total_budget,'Average Math Score': Average_math_score}
df_summary = pd.DataFrame([data])
df_summary

# df_summary = DataFrame(columns=('Total Schools', 'Total Students', 'Total Budget', 'Average Math Score', 'Average Reading Score',
#'% Passing Math','% Passing Reading', '% Overall Passing Rate' ))
# df_summary = df_summary.set_value(Total_schools, Total_students, Total_budget, Average_math_score, Average_reading_score,
#math_pass_pct, reading_pass_pct, overall_pass)
# df_summary

   Average Math Score  Total Budget  Total Schools  Total Students
0           78.985371      24649428             15           39170

In [122]:
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [152]:
school_summary = school_data_complete[['school_name', 'type', 'size', 'budget', 'reading_score', 'math_score']]
school_group = school_summary.groupby(['school_name'])
school_comparison = school_group.mean()
school_comparison
# school_comparision_complete = pd.merge(school_comparison, school_data, how="left", on=["school_name", "school_name"])
# school_comparision_complete 
# pokemon_group = pokemon_type.groupby(["Type 1"])

# # Calculate averages for combat stats using the .mean() method
# pokemon_comparison = pokemon_group.mean()
# pokemon_comparison

                         size     budget  reading_score  math_score
school_name
Bailey High School     4976.0  3124928.0      81.033963   77.048432
Cabrera High School    1858.0  1081356.0      83.975780   83.061895
Figueroa High School   2949.0  1884411.0      81.158020   76.711767
Ford High School       2739.0  1763916.0      80.746258   77.102592
Griffin High School    1468.0   917500.0      83.816757   83.351499
Hernandez High School  4635.0  3022020.0      80.934412   77.289752
Holden High School      427.0   248087.0      83.814988   83.803279
Huang High School      2917.0  1910635.0      81.182722   76.629414
Johnson High School    4761.0  3094650.0      80.966394   77.072464
Pena High School        962.0   585858.0      84.044699   83.839917
Rodriguez High School  3999.0  2547363.0      80.744686   76.842711
Shelton High School    1761.0  1056600.0      83.725724   83.359455
Thomas High School     1635.0  1043130.0      83.848930   83.418349
Wilson High School     2283.0  1319574.0      83.989488   83.274201
Wright High School     1800.0  1049400.0      83.955000   83.682222

In [156]:
m_df = math_pass_df.groupby("school_name")
m = m_df["school_name"].count()
m1 = (m*100)/school_comparison['size']
m1

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [157]:
r_df = reading_pass_df.groupby("school_name")
r = r_df["school_name"].count()
r1 = (r*100)/school_comparison['size']
r1

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64